$Dark-BlueDarkModeElements: hsl(209, 23%, 22%);
$Very-DarkBlueDarkModeBackground: rgb(32, 44, 55);
$Very-DarkBlueLightModeText: hsl(200, 15%, 8%);
$Dark-GrayLightModeInput: hsl(0, 0%, 52%);
$Very-LighGrayLightModeBackground: hsl(0, 0%, 98%);
$White-DarkModeText-Light-ModeElements: hsl(0, 0%, 100%);
